@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center" g-5 py-5>
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Blog Post Web App using .NET MVC
            </h1> 
            <p class="lead">
                This Blog Post app is a sample project to cover a vast range of 
                topics like HTML, CSS, JavaScript, ASP.NET, C#, Angular etc.
                Want to read the latest dev articles? Join the team!
            </p>
        </div>




    </div>
</div>
